{% extends "layouts/main.html" %}

{% block pageTitle %}
Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Stillbirth registration</h1>

      <h2 class="govuk-heading-m">Supporting information (optional)</h2>
      <ul class="govuk-task-list">
        <li class="govuk-task-list__item">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="prepare-for-appointment">
              Prepare for appointment
            </a>
          </div>
          <div class="govuk-task-list__status">
            {% if data.prepareForAppointmentCompleted %}
        Entered
      {% else %}
        <strong class="govuk-tag govuk-tag--blue">Empty</strong>
      {% endif %}
            
          </div>
        </li>

        <li class="govuk-task-list__item">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="uploads">
              Uploads
            </a>
          </div>
          <div class="govuk-task-list__status">
             {% if data.uploadsCompleted %}
        Entered
      {% else %}
        <strong class="govuk-tag govuk-tag--blue">Empty</strong>
      {% endif %}
          </div>
        </li>

        <li class="govuk-task-list__item">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="comments">
              Comments
            </a>
          </div>
          <div class="govuk-task-list__status">
            {% if data.commentsCompleted %}
        Entered
      {% else %}
        <strong class="govuk-tag govuk-tag--blue">Empty</strong>
      {% endif %}
          </div>
        </li>
      </ul>

      <h2 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-margin-bottom-1">Information from medical certificate</h2>
      <p class="govuk-hint">Medical certificate of stillbirth (form 34)</p>
      <ul class="govuk-task-list">
        <li class="govuk-task-list__item">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="pregnancy-delivery">
              Pregnancy and delivery
            </a>
          </div>
          <div class="govuk-task-list__status">
              {% if data.pregCompleted %}
        Completed
      {% else %}
        <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
      {% endif %}
          </div>
        </li>

        <li class="govuk-task-list__item">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="cause-of-death">
              Cause of death
            </a>
          </div>
          <div class="govuk-task-list__status">
             {% if data.codCompleted %}
        Completed
      {% else %}
        <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
      {% endif %}
          </div>
        </li>
      </ul>

      <h2 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-margin-bottom-1">Whose details will be recorded</h2>
      <ul class="govuk-task-list">
        <li class="govuk-task-list__item">
          <div class="govuk-task-list__name-and-hint govuk-!-width-two-thirds">
             {% if data.pregCompleted and data.codCompleted %}
            <a class="govuk-link govuk-task-list__link" href="informant-triage/01-who-is-informant">
              Informant and whose details will be recorded
            </a>
            {% else %}
            <div class="govuk-task-list__hint ">
              The rest of the form will become available after you complete this section.
            </div>
            {% endif %}
          </div>
          <div class="govuk-task-list__status">
            {% if not (data.pregCompleted and data.codCompleted) %}
        <strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong>
      {% elif data.whoseDetailsCompleted %}
        Completed
      {% else %}
        <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
      {% endif %}
          </div>
        </li>
      </ul>

     
    </div>
  </div>
{% endblock %}