{% extends "layouts/main.html" %}

{% block content %}
<h1 class="govuk-heading-xl">Application task list</h1>

<ol class="govuk-task-list">
  <!-- TASK 1 -->
  <li class="govuk-task-list__item">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link" href="/latest/prepare-for-appointment">Prepare for appointment</a>
    </div>
    <div class="govuk-task-list__status">
      {% if data.prepareForAppointmentCompleted %}
        Complete
      {% else %}
        <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
      {% endif %}
    </div>
  </li>

  <!-- TASK 2 -->
  <li class="govuk-task-list__item">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link" href="/latest/uploads">Uploads</a>
    </div>
    <div class="govuk-task-list__status">
      {% if data.uploadsCompleted %}
        Complete
      {% else %}
        <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
      {% endif %}
    </div>
  </li>

  <!-- TASK 3 -->
  <li class="govuk-task-list__item">
    <div class="govuk-task-list__name-and-hint">
      {% if data.prepareForAppointmentCompleted and data.uploadsCompleted %}
        <a class="govuk-link" href="/latest/comments">Comments</a>
      {% else %}
        <span class="govuk-link govuk-link--muted">Comments</span>
      {% endif %}
    </div>
    <div class="govuk-task-list__status">
      {% if data.commentsCompleted %}
        Complete
      {% elseif data.prepareForAppointmentCompleted and data.uploadsCompleted %}
        <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
      {% else %}
        Cannot start yet
      {% endif %}
    </div>
  </li>
</ol>
{% endblock %}
