{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="03-marital-status" method="post">


      <span class="govuk-caption-l">Add record details</span>

      {{ govukRadios({
      name: "evidence",
      fieldset: {
      legend: {
      text: "Has registrar seen evidence of informant identity?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
      }
      },
      items: [
      {
      value: "yes",
      text: "Yes - informant's passport, or their birth certificate and photo ID"
      },
      {
      value: "no",
      text: "No"
      }
      ]
      }) }}
      {{ govukButton({
      text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}