{% extends "layouts/main.html" %}

{% set serviceName = "Update space 17 child’s name" %}

{% block pageTitle %}
 Update space 17 child’s name - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

 <div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Space 17 update complete
          </h1>
          <div class="govuk-panel__body">
            <strong>Entry number 500 257 076</strong>
          </div>
        </div>
        <br>
        <h3 class="govuk-heading-s">Sarah Elle Adams</h3>
        <p class="govuk-body">
          <a href="/public/documents/Sarah-Elle-Adams.pdf" class="govuk-link" rel="noreferrer noopener" target="_blank">
            Standard birth certificate (opens in new tab)
          </a>
        </p>
        <br>
        <p class="govuk-body">
          <a href="/births/space17flow/task1/00-service-selector.html" class="govuk-link" rel="noreferrer noopener" target="_blank">
            Return to homepage
          </a>
        </p>
      </div>
    </div>
  </main>
</div>
       
{% endblock %}
