{% extends "layouts/main.html" %}

{% set serviceName = "Update space 17 child’s name" %}

{% block pageTitle %}
 Update space 17 child’s name - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

    <div class="govuk-form-group">
        <h2 class="govuk-heading-l">
            <span class="govuk-caption-l">Submit the update</span>
             Registrar’s details
        </h2>
<br>
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="one-third">
            Registrar’s full name
          </label>
         <input class="govuk-input govuk-!-width-one-third" id="one-third" name="oneThird" type="text" value="Example name">
        </div>

        <br>

        <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
   <label class="govuk-label govuk-label--s" for="one-third">
            Designation
          </label>

    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
          Registrar
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
          Interim registrar
        </label>
      </div>

       <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
          Deputy registrar
        </label>
      </div>

       <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
          Interim deputy registrar
        </label>
      </div>

    </div>
  </fieldset>
</div>


       <br><br><br>  

        

{{ govukButton({
        text: "Continue",
        href: "/births/space17flow/task1/check-details.html"
      }) }}


    </div>
    


    </div>
  </div>

{% endblock %}
