{% extends "layouts/main.html" %}

{% set serviceName = "Re-register a death" %}

{% block pageTitle %}
  Question page template - Re-register a death - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Re-registration complete
          </h1>
          <div class="govuk-panel__body">
            Entry number 500248148
          </div>
        </div><br>
        <h3 class="govuk-heading-s">Jan Doyle</h3>
        <p class="govuk-body">
          <a href="#" class="govuk-link">Standard death certificate (opens in new tab)</a> 
        </p>
        <h2 class="govuk-heading-m">What to do next</h2>
        <p class="govuk-body">You need to send to the ONS:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>coroner's certificate, including part V</li>
          <li>form 121</li>
        </ul>
      
        
      </div>
    </div>
  </main>
</div>


 



   
{% endblock %}
