{% extends "layouts/main.html" %}

{% set serviceName = "Search for a birth record" %}

{% block pageTitle %}
  Search for a birth record - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

 
    <div class="govuk-form-group">
       
        <h2 class="govuk-heading-l">
            <span class="govuk-caption-l">Record search</span>
             Is this the correct record?
        </h2>


        <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Entry number 
    </dt>
    <dd class="govuk-summary-list__value">
      936 908 182
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Date of birth
    </dt>
    <dd class="govuk-summary-list__value">
     14 February 2025
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Sex
    </dt>
    <dd class="govuk-summary-list__value">
      Female
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Child’s name
    </dt>
    <dd class="govuk-summary-list__value">
      Anna Lisa Smith on certificate of naming dated 29/06/2025
    </dd>
  </div>
   <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Mother’s name
    </dt>
    <dd class="govuk-summary-list__value">
     Susan Marie SMITH
    </dd>
  </div>
   <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Father's name
    </dt>
    <dd class="govuk-summary-list__value">
     No details added
    </dd>
  </div>
 <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Place of birth
    </dt>
    <dd class="govuk-summary-list__value">
     Wythenshawe Hospital, Wythenshawe
    </dd>
  </div>
 <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Annotations
    </dt>
    <dd class="govuk-summary-list__value">
     None
    </dd>
  </div>
</dl>


<p class="govuk-body">
  <a href="/births/space17/task2/viewFullRecord.html" class="govuk-link" rel="noreferrer noopener" target="_blank">
    View full record (opens in new tab)
  </a>
</p>
<br><br>



{{ govukButton({
        text: "Manage or print record",
        href: "/births/space17/task2/what-next-page.html"
      }) }}

    

        <p class="govuk-body">
  <a href="/births/space17/task1/birth-search-results.html" class="govuk-link">Return to search</a>
</p>

       
        

        

           
  

       
    


    </div>
    


    </div>
  </div>

{% endblock %}
