{% extends "layouts/main.html" %}

{% block pageTitle %}
Name and date of death – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}



{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}


{% endblock %}

{% block content %}




    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
         Search for a birth notification 
        </h1>

        <form class="form" action="03-child-correct" method="post">



    <div id="nhs-no" >
            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--s" for="child-first-name">NHS number</label>
              <input class="govuk-input govuk-!-width-one-half" id="child-first-name" name="childNHSno"
                type="text" value="{{data['childNHSno']}}">
            </div>
          </div>

           <div>
            <p><a href="02b-search-no-nhs-no">I don't have the NHS number</a></p>
           </div>



     

          <div class="govuk-button-group">
            {{ govukButton({
            text: "Search"
            }) }}
          </div>

        </form>

      </div>
    </div>





<!-- Load the JS from views/latest/ -->



{% endblock %}