{% extends "layouts/main.html" %}

{% block pageTitle %}
Personal details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back to record",
href: "javascript:window.history.back()"
}) }}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Parents' details</span>
    <h1 class="govuk-heading-l">
      Mother's details
    </h1>

    <form class="form" action="mothers-details-check" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="country-hint">
          
            <label class="govuk-label govuk-fieldset__legend--s" for="mothersOccupation">
              Country of birth
            </label>
      
      
          <div class="govuk-radios" data-module="govuk-radios">
      
            <!-- England -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                     id="england"
                     name="countryOfBirth"
                     type="radio"
                     value="england"
                     checked="checked"
                     data-aria-controls="conditional-england">
      
              <label class="govuk-label govuk-radios__label" for="england">
                England
              </label>
            </div>
      
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                 id="conditional-england">
              <div class="govuk-form-group">
                <label class="govuk-label" for="england-place">
                  Place of birth
                </label>
                <input class="govuk-input govuk-!-width-one-half"
                       id="england-place"
                       name="englandPlace"
                       value="Exeter, Devon"
                       type="text">
              </div>
            </div>
      
            <!-- Northern Ireland -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                     id="northern-ireland"
                     name="countryOfBirth"
                     type="radio"
                     value="northern-ireland"
                     data-aria-controls="conditional-ni">
      
              <label class="govuk-label govuk-radios__label" for="northern-ireland">
                Northern Ireland
              </label>
            </div>
      
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                 id="conditional-ni">
              <div class="govuk-form-group">
                <label class="govuk-label" for="ni-place">
                  Place of birth
                </label>
                <input class="govuk-input govuk-!-width-one-half"
                       id="ni-place"
                       name="niPlace"
                       type="text">
              </div>
            </div>
      
            <!-- Scotland -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                     id="scotland"
                     name="countryOfBirth"
                     type="radio"
                     value="scotland"
                     data-aria-controls="conditional-scotland">
      
              <label class="govuk-label govuk-radios__label" for="scotland">
                Scotland
              </label>
            </div>
      
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                 id="conditional-scotland">
              <div class="govuk-form-group">
                <label class="govuk-label" for="scotland-place">
                  Place of birth
                </label>
                <input class="govuk-input govuk-!-width-one-half"
                       id="scotland-place"
                       name="scotlandPlace"
                       type="text">
              </div>
            </div>
      
            <!-- Wales -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                     id="wales"
                     name="countryOfBirth"
                     type="radio"
                     value="wales"
                     data-aria-controls="conditional-wales">
      
              <label class="govuk-label govuk-radios__label" for="wales">
                Wales
              </label>
            </div>
      
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                 id="conditional-wales">
              <div class="govuk-form-group">
                <label class="govuk-label" for="wales-place">
                  Place of birth
                </label>
                <input class="govuk-input govuk-!-width-one-half"
                       id="wales-place"
                       name="walesPlace"
                       type="text">
              </div>
            </div>
      
            <!-- Outside the UK -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                     id="outside-uk"
                     name="countryOfBirth"
                     type="radio"
                     value="outside-uk"
                     data-aria-controls="conditional-outside-uk">
      
              <label class="govuk-label govuk-radios__label" for="outside-uk">
                Outside of the UK
              </label>
            </div>
      
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                 id="conditional-outside-uk">
      
            </div>
      
            <!-- Not known -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                     id="not-known"
                     name="countryOfBirth"
                     type="radio"
                     value="not-known">
      
              <label class="govuk-label govuk-radios__label" for="not-known">
                Not known
              </label>
            </div>
      
          </div>
        </fieldset>
      </div>
      
     



      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" id="SpanishNational-fieldset" aria-required="false">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Spanish national
          </legend>
          <div class="govuk-radios govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="SpanishNational-true" name="SpanishNational" type="radio"
                value="true" {{ checked("SpanishNational", "true" ) }}>
              <label class="govuk-label govuk-radios__label" id="SpanishNational-true-label" for="SpanishNational-true">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="SpanishNational-false" name="SpanishNational" type="radio"
                value="false" checked {{ checked("SpanishNational", "false" ) }}>
              <label class="govuk-label govuk-radios__label" id="SpanishNational-false-label"
                for="SpanishNational-false">
                No
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="SpanishNational-unknown" name="SpanishNational" type="radio"
                value="unknown" {{ checked("SpanishNational", "unknown" ) }}>
              <label class="govuk-label govuk-radios__label" id="SpanishNational-unknown-label"
                for="SpanishNational-unknown">
                Unknown
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group" id="occupation">
        <label class="govuk-label govuk-fieldset__legend--s" for="fathersOccupation">
          Occupation
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="mothersOccupation" name="mothersOccupation" type="text"
          aria-describedby="mothersOccupation-hint" aria-required="false" value="Teacher">
      </div>
      <br>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h3 class="govuk-fieldset__heading">
            Address when the stillbirth happened
          </h3>
        </legend>
        <div class="govuk-form-group">
          <label class="govuk-label" for="flat-number-line-1">
            Flat number or name
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="flat-number-line-1" name="flat-number-line-1"
            type="text" autocomplete="address-line1">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="building-number-2">
            Building number
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="building-number-2" name="building-number-2"
            type="text" autocomplete="address-line2">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="building-name-2">
            Building name
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="building-name-2" name="building-name-2" type="text"
            autocomplete="address-level2">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-county">
            Street address line 1
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="addressCounty" type="text"
            value="29 Willow Crescent">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-1">
            Street address line 2
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-line-1" name="addressLine1" type="text"
            autocomplete="address-line1">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-2">
            Street address line 3
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-line-2" name="addressLine2" type="text"
            autocomplete="address-line2">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-town">
            Street address line 4
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="addressTown" type="text"
            autocomplete="address-level2">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-county">
            Town or city
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="addressCounty" type="text"
            value="Eastleigh">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-county">
            County
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="addressCounty" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-postcode">
            Postcode
          </label>
          <input class="govuk-input govuk-input--width-10" id="address-postcode" name="addressPostcode" type="text"
            autocomplete="postal-code" value="SO50 6DR">
        </div>
        <p class="govuk-body">
          <a href="#" class="govuk-link govuk-link--no-visited-state">Search by postcode</a>
        </p>
        <br>
      </fieldset>


    
      <div class="govuk-button-group">
        {{ govukButton({
        text: "Save and return",
        type: "submit"
        })
        }}
      </div>

    </form>

  </div>
</div>



{% endblock %}