{% extends "layouts/main.html" %}

{% set serviceName = "Re-register a death" %}

{% block pageTitle %}
  Question page template - Re-register a death - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back to record",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group">
       
        <h2 class="govuk-heading-l">
            <span class="govuk-caption-l">Source of information</span>
             Cause of death
        </h2>
        
        <h2 class="govuk-heading-m">
          About the inquest
        </h2>

        <div class="govuk-form-group">
          <label class="govuk-label" for="one-third">
             Inquest dates
          </label>
         <input class="govuk-input govuk-!-width-one-third" id="one-third" name="oneThird" type="text">
        </div>


    </div> 

      <div class="govuk-form-group">

        <div class="govuk-form-group">
  
          <h2 class="govuk-heading-m">
          About the death
        </h2>


  
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend">
      Was a post-mortem held? 
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>


<div class="govuk-form-group">
  
  
  <legend class="govuk-fieldset__legend">
      Is cause of death in a standard format?
    </legend>
    

  <div id="standard-cause-hint" class="govuk-hint">
    For example, 1(a), 1(b), 1(c)
  </div>

  <div class="govuk-radios" data-module="govuk-radios" aria-describedby="standard-cause-hint">
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="standardCauseYes" name="standardCauseFormat" type="radio" value="yes" checked>
      <label class="govuk-label govuk-radios__label" for="standardCauseYes">
        Yes
      </label>
    </div>

    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="standardCauseNo" name="standardCauseFormat" type="radio" value="no">
      <label class="govuk-label govuk-radios__label" for="standardCauseNo">
        No
      </label>
    </div>
  </div>
</div>



<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--s" for="more-detail">
      Enter cause of death
    </label>
  </h1>
  <label class="govuk-label" for="more-detail">
       1(a) Disease or condition directly leading to death
    </label>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
</div>



<p class="govuk-body" id="add-1b-container">
  <a href="javascript:void(0)" class="govuk-link" id="add-1b-link">
    1(b) Add other disease or condition leading to 1(a)
  </a>
</p>

<div id="disease-1b" style="display:none;">
  <div class="govuk-form-group">
    <label class="govuk-label" for="disease-1b-text">
      1(b) Disease or condition directly leading to death
    </label>
    <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
  </div>

  
<p class="govuk-body" id="add-1c-container">
  <a href="javascript:void(0)" class="govuk-link" id="add-1c-link">
    1(c) Add other disease or condition leading to 1(b)
  </a>
</p>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
  var link = document.getElementById('add-1b-link');

  if (link) {
    link.addEventListener('click', function (e) {
      e.preventDefault();

      document.getElementById('add-1b-container').style.display = 'none';
      document.getElementById('disease-1b').style.display = 'block';
    });
  }
});
</script>




<div id="disease-1c" style="display:none;">
  <div class="govuk-form-group">
    <label class="govuk-label" for="disease-1c-text">
      1(c) Disease or condition directly leading to death
    </label>
    <textarea
      class="govuk-textarea"
      id="disease-1c-text"
      name="disease1c"
      rows="5">
    </textarea>
  </div>

  <p class="govuk-body" id="add-1d-container">
    <a href="javascript:void(0)" class="" id="add-1d-link">
      1(d) Add other disease or condition leading to 1(c)
    </a>
  </p>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
  var link = document.getElementById('add-1c-link');

  if (link) {
    link.addEventListener('click', function (e) {
      e.preventDefault();

      document.getElementById('add-1c-container').style.display = 'none';
      document.getElementById('disease-1c').style.display = 'block';
    });
  }
});
</script>





<p class="govuk-body">
  <a href="#" class="govuk-link">2 Add other significant contributory conditions</a>
</p> 






<br>
<br>



  


   
{{ govukButton({
  text: "Save and return",
  href: "/births/reReg/tasklist.html"
}) }}


    </div>



    </div>
  </div>

{% endblock %}
