{% extends "layouts/main.html" %}

{% block pageTitle %}
Name and date of death – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}



{{ govukBackLink({
text: "Back to record",
href: "javascript:window.history.back()"
}) }}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Parents' details</span>
    <h1 class="govuk-heading-l">
      Father's names
    </h1>

    <form class="form" action="fathers-name-check" method="post">


      <div id="yes-name-block">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="deceased-first-name">First name </label>
          <input class="govuk-input govuk-!-width-one-half" id="deceased-first-name" name="fathersFirstName" type="text"
            value="Pedro">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="deceased-middle-name">Middle names</label>
          <input class="govuk-input govuk-!-width-one-half" id="deceased-middle-name" name="fathersMiddleName"
            type="text" value="{{data['fathersMiddleName']}}">
          <!-- <p class="govuk-body">
                <a href="#" class="govuk-link">Add more middle names</a>
              </p> -->
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="deceased-last-name">Last name</label>
          <input class="govuk-input govuk-!-width-one-half" id="deceased-last-name" name="fathersLastName" type="text"
            value="MORA">

          <p class="govuk-body  govuk-!-margin-top-4">
            <a href="#" class="govuk-link">Add prefix or suffix</a>
          </p>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="name-order-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              Print order of names
            </legend>
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

              <!-- Default selected: Last name last -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="name-order" name="name-order" type="radio"
                  value="name-order-first-name" checked data-aria-controls="">
                <label class="govuk-label govuk-radios__label" for="name-order">
                  Last name last
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="name-order-1" name="name-order" type="radio"
                  value="name-order-last-name" data-aria-controls="">
                <label class="govuk-label govuk-radios__label" for="name-order-1">
                  Last name first
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="name-order-2" name="name-order" type="radio"
                  value="name-order-only-last" data-aria-controls="">
                <label class="govuk-label govuk-radios__label" for="name-order-2">
                  Last name only
                </label>
              </div>

              <!-- Conditional reveal: Other -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="name-order-4" name="name-order" type="radio"
                  value="name-order-other" data-aria-controls="conditional-name-order-other">
                <label class="govuk-label govuk-radios__label" for="name-order-4">
                  Other
                </label>
              </div>

              <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                id="conditional-name-order-other">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="custom-order">
                    Order of names
                  </label>
                  <input class="govuk-input govuk-!-width-one-half" id="custom-order" name="custom-order" type="text"
                    value="{{ data['custom-order'] }}">
                </div>
              </div>

            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-!-margin-bottom-2" style="display: flex; align-items: baseline; gap: 10px;">
              <span class="govuk-fieldset__legend govuk-fieldset__legend--s">Other name 1</span>
              <p class="govuk-body"><a href="#" class="govuk-link">Remove</a></p>
            </div>
          </fieldset>
          <br>
          <legend class="govuk-fieldset__legend">
            Type of name
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="otherNames" name="otherNames" type="radio" value="Otherwise" checked>
              <label class="govuk-label govuk-radios__label" for="otherNames" >
                Otherwise
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="otherNames-2" name="otherNames" type="radio"
                value="scotland" >
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                Formerly known as
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="otherNames-3" name="otherNames" type="radio" value="wales">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
                Now
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="otherNames-4" name="otherNames" type="radio"
                value="northern-ireland">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
                Afterwards
              </label>
            </div>
          </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="deceased-first-name">First name </label>
          <input class="govuk-input govuk-!-width-one-half" id="deceased-first-name" name="fathersFirstName" type="text"
            value="Pedro">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="deceased-middle-name">Middle names</label>
          <input class="govuk-input govuk-!-width-one-half" id="deceased-middle-name" name="fathersMiddleName"
            type="text" value="{{data['fathersMiddleName']}}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="deceased-last-name">Last name</label>
          <input class="govuk-input govuk-!-width-one-half" id="deceased-last-name" name="fathersLastName" type="text"
            value="MORA SANCHEZ">

          <p class="govuk-body  govuk-!-margin-top-4">
            <a href="#" class="govuk-link">Add prefix or suffix</a>
          </p>
        </div>

        <div class="govuk-form-group">
            <div class="govuk-form-group">
              <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Add other names
              </button>
            </div>

        </div>
      </div>


      <div class="govuk-button-group">
        {{ govukButton({
        text: "Save and return"
        }) }}
      </div>

    </form>

  </div>
</div>





<!-- Load the JS from views/latest/ -->



{% endblock %}