{% extends "layouts/main.html" %}

{% set serviceName = "Search for a birth record" %}

{% block pageTitle %}
  Search for a birth record - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

 
    <div class="govuk-form-group">
       
        <h2 class="govuk-heading-l">
            <span class="govuk-caption-l">Record search</span>
             Is this the correct record?
        </h2>

        <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      System number 
    </dt>
    <dd class="govuk-summary-list__value">
      630 987 1254
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Date of birth
    </dt>
    <dd class="govuk-summary-list__value">
     1 September 2010
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Sex
    </dt>
    <dd class="govuk-summary-list__value">
      Female
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Child’s name
    </dt>
    <dd class="govuk-summary-list__value">
      Annmarie MORGAN
    </dd>
  </div>
   <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Mother’s name
    </dt>
    <dd class="govuk-summary-list__value">
     Maria MORGAN
    </dd>
  </div>
 <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Place of birth
    </dt>
    <dd class="govuk-summary-list__value">
     Leicester General Hospital Maternity Unit
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Name given after registration
    </dt>
    <dd class="govuk-summary-list__value">
     Annemarie MORGAN by baptism on 15th March 2011
    </dd>
  </div>
 <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Annotation
    </dt>
    <dd class="govuk-summary-list__value">
     Adopted
    </dd>
  </div>
</dl>


<p class="govuk-body">
  <a href="/births/search/task5/viewFullRecord.html" class="govuk-link" rel="noreferrer noopener" target="_blank">
    View full record (opens in new tab)
  </a>
</p><br>



{{ govukButton({
        text: "Yes",
        href: "/births/search/task5/what-next.html"
      }) }}

    

        <p class="govuk-body">
  <a href="/births/search/task5/births-advanced-search.html" class="govuk-link">No, return to search</a>
</p>

       
        

        

           
  

       
    


    </div>
    


    </div>
  </div>

{% endblock %}
