{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back to record",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<form class="form" action="comments-check" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Additional information</span>
      <h1 class="govuk-heading-l">Registrar's comments</h1>
      {{ govukCharacterCount({
      name: "comments",
      id: "comments",
      maxlength: 500,
      label: {
      text: "Add comments",
      classes: "govuk-fieldset__legend govuk-fieldset__legend--s"
      },
      hint: {
      text: "Comments will not be entered in the register"
      },
      value: data['comments'] or '',
      rows: 5
      }) }}
      <div class="govuk-button-group">
        {{ govukButton({
        text: "Save and return",
        type: "submit"
        })
        }}
      </div>
    </div>
  </div>
</form>

{% endblock %}