{% extends "layouts/main.html" %}

{% set serviceName = "Search for a birth record" %}

{% block pageTitle %}
  Search for a birth record - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}


 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group">
       
        <h2 class="govuk-heading-l">
          <span class="govuk-caption-l">Record 	901 234 567</span>
             John Philip Jones
        </h2>


<h2 class="govuk-heading-m">Child's details</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-8">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Date of birth</dt>
    <dd class="govuk-summary-list__value">Twenty-first June 2020</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Place of birth</dt>
    <dd class="govuk-summary-list__value">Wythenshawe Hospital, Southmoor Rd, Wythenshawe, Manchester</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Name</dt>
    <dd class="govuk-summary-list__value">John Philip JONES</dd>
  </div>

   <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Sex</dt>
    <dd class="govuk-summary-list__value">Male</dd>
  </div>

</dl>

<h2 class="govuk-heading-m">Mother's details</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-8">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Name</dt>
    <dd class="govuk-summary-list__value">Margaret Valerie JONES</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Place of birth</dt>
    <dd class="govuk-summary-list__value">Manchester</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Occupation</dt>
    <dd class="govuk-summary-list__value">Housewife</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Maiden name</dt>
    <dd class="govuk-summary-list__value">JONES</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Last name (if different at marriage / civil partnership)</dt>
    <dd class="govuk-summary-list__value"></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Address (if different from child’s place of birth)</dt>
    <dd class="govuk-summary-list__value">18 Station Road, Wythenshawe, Manchester</dd>
  </div>

</dl>


<h2 class="govuk-heading-m">Informant's details</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-8">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Qualification</dt>
    <dd class="govuk-summary-list__value">Mother</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Mother’s address (if different from when the child was born)</dt>
    <dd class="govuk-summary-list__value"></dd>
  </div>

</dl>

<h2 class="govuk-heading-m">Registrar's details</h2>

<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Name</dt>
    <dd class="govuk-summary-list__value">J Brown</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Designation</dt>
    <dd class="govuk-summary-list__value">Registrar</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Registration date</dt>
    <dd class="govuk-summary-list__value">Twenty-eighth June 2020</dd>
  </div>

</dl>

<br>

<dl class="govuk-summary-list govuk-!-margin-bottom-8">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Annotation</dt>
    <dd class="govuk-summary-list__value">None</dd>
  </div>
</dl>


  </div>

  </div>
</div>

<br>
<br>



  



    </div>


    </div>
  </div>

{% endblock %}
