{% extends "layouts/main.html" %}

{% block pageTitle %}
Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">
      Are these the children you want to register?
    </h1>
    <div class="pro-header-with-button">
      <h2 class="govuk-heading-m">Child 1</h2>
      {{ govukButton({
        text: "Do not register",
        classes: "govuk-button--secondary"
      }) }}
    </div>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          NHS number
        </dt>
        <dd class="govuk-summary-list__value">
          987 654 3210
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date and time of birth
        </dt>
        <dd class="govuk-summary-list__value">
          10 February 2025 at 9:38 hours
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Birth order
        </dt>
        <dd class="govuk-summary-list__value">
          1
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Sex
        </dt>
        <dd class="govuk-summary-list__value">
          Female
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Mother&rsquo;s first name
        </dt>
        <dd class="govuk-summary-list__value">
          Emily Charlotte
        </dd>
        <dd class="govuk-summary-list__actions">
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Mother&rsquo;s last name
        </dt>
        <dd class="govuk-summary-list__value">
          HARWOOD
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Place of birth
        </dt>
        <dd class="govuk-summary-list__value">
          Princess Anne Hospital, Southampton
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Registration type
        </dt>
        <dd class="govuk-summary-list__value">
          Stillbirth
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">Stillbirth</span></a>
        </dd>
      </div>
    </dl>
    <div class="pro-header-with-button">
      <h2 class="govuk-heading-m">Child 2</h2>
      {{ govukButton({
        text: "Do not register",
        classes: "govuk-button--secondary"
      }) }}
    </div>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          NHS number
        </dt>
        <dd class="govuk-summary-list__value">
          987 654 3211
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date and time of birth
        </dt>
        <dd class="govuk-summary-list__value">
          10 February 2025 at 9:42 hours
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Birth order
        </dt>
        <dd class="govuk-summary-list__value">
          2
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Sex
        </dt>
        <dd class="govuk-summary-list__value">
          Female
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Mother&rsquo;s first name
        </dt>
        <dd class="govuk-summary-list__value">
          Emily Charlotte
        </dd>
        <dd class="govuk-summary-list__actions">
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Mother&rsquo;s last name
        </dt>
        <dd class="govuk-summary-list__value">
          HARWOOD
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Place of birth
        </dt>
        <dd class="govuk-summary-list__value">
          Princess Anne Hospital, Southampton
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Registration type
        </dt>
        <dd class="govuk-summary-list__value">
         Live birth
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/births/multipleBirthsInclStills/02-change-reg-type.html">Change<span class="govuk-visually-hidden">Stillbirth</span></a>
        </dd>
      </div>
    </dl>

    <p class="govuk-body">
      <a href="/births/multipleBirths3/01-search-child3.html" class="govuk-link">Add a child</a>
    </p>
    <p class="govuk-body">
      <a href="/births/multipleBirths3/01-search-child3.html" class="govuk-link">Change birth order</a>
    </p><br>

    {{ govukRadios({
    name: "whichChild",
    formGroup: {
      attributes: {
        id: "which-child"
      }
    },
    fieldset: {
    legend: {
    text: "Which child do you want to register first?",
    classes: "govuk-fieldset__legend--s"
    }
    },
    items: [
    {
    value: "child1",
    text: "Child 1",
    checked: true
    },
    {
    value: "child2",
    text: "Child 2"
    }
    ]
    }) }}

    {{ govukButton({
    text: "Yes, continue",
    href: "triage/01-who-is-informant"
    }) }}

  

    <div class="govuk-form-group">
      <p class="govuk-body"><a href="02-search.html" class="govuk-link">No, return to search</a></p>
    </div>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
  const child1Checkbox = document.querySelector('input[name="do-not-register-child-1"]');
  const child2Checkbox = document.querySelector('input[name="do-not-register-child-2"]');
  const radioContainer = document.getElementById('which-child');
  
  function updateUI() {
    const child1Checked = child1Checkbox.checked;
    const child2Checked = child2Checkbox.checked;
    
    child1Checkbox.disabled = child2Checked;
    child2Checkbox.disabled = child1Checked;
    
    if (child1Checked || child2Checked) {
      radioContainer.style.display = 'none';
    } else {
      radioContainer.style.display = 'block';
    }
  }
  
  child1Checkbox.addEventListener('change', updateUI);
  child2Checkbox.addEventListener('change', updateUI);
  
  updateUI();
});
</script>

{% endblock %}