{% extends "layouts/main.html" %}

{% set serviceName = "Re-register a death" %}

{% block pageTitle %}
  Question page template - Re-register a death - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back to record",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group">
       
        <h2 class="govuk-heading-l">
            <span class="govuk-caption-l">Coroner's details</span>
             Coroner’s name and assignment
        </h2>


<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="fullName">
    Full name
  </label>
  <input class="govuk-input govuk-!-width-one-half" id="fullName" name="fullName" type="text">
</div>

<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="district">
    District
  </label>
  <input class="govuk-input govuk-!-width-one-half" id="district" name="district" type="text" value="Leicester">
</div>

<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="area">
    Area
  </label>
  <input class="govuk-input govuk-!-width-one-half" id="area" name="area" type="text">
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-label govuk-label--s">
      Designation
    </legend>

    <div class="govuk-radios" data-module="govuk-radios">

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="designation" name="designation" type="radio" value="assistant-coroner">
        <label class="govuk-label govuk-radios__label" for="designation">
          Assistant Coroner
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="designation-2" name="designation" type="radio" value="senior-coroner">
        <label class="govuk-label govuk-radios__label" for="designation-2">
          Senior Coroner
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="designation-3" name="designation" type="radio" value="deputy-coroner">
        <label class="govuk-label govuk-radios__label" for="designation-3">
          Deputy Coroner
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="designation-4" name="designation" type="radio" value="area-coroner">
        <label class="govuk-label govuk-radios__label" for="designation-4">
          Area Coroner
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="designation-5" name="designation" type="radio" value="coroner">
        <label class="govuk-label govuk-radios__label" for="designation-5">
          Coroner
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input"
               id="designation-6"
               name="designation"
               type="radio"
               value="other"
               data-aria-controls="conditional-designation">
        <label class="govuk-label govuk-radios__label" for="designation-6">
          Other
        </label>
      </div>

      <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
           id="conditional-designation">
        <div class="govuk-form-group">
          <label class="govuk-label" for="otherDesignation">
            Enter designation
          </label>
          <input class="govuk-input govuk-!-width-one-half"
                 id="otherDesignation"
                 name="otherDesignation"
                 type="text">
        </div>
      </div>

    </div>
  </fieldset>
</div>

  </div>



    {{ govukButton({
        text: "Save and return",
        href: "/births/reReg/tasklist.html"
      }) }}

  </div>
</div>

<br>
<br>



  



    </div>


    </div>
  </div>

{% endblock %}
