{% extends "layouts/main.html" %}

{% set serviceName = "Search for a stillbirth record" %}

{% block pageTitle %}
   Search for a stillbirth record - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}


 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group">
       
        <h2 class="govuk-heading-l">
          <span class="govuk-caption-l">Record 775 689 7810</span>
             Arman Mkhitaryan
        </h2>

         <dl class="govuk-summary-list govuk-!-margin-bottom-8">

         <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Source of information</dt>
    <dd class="govuk-summary-list__value">Medical certificate of stillbirth (form 34)</dd>
  </div>
</dl>

<h2 class="govuk-heading-m">Stillborn child's details</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-8">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Date of stillbirth</dt>
    <dd class="govuk-summary-list__value">First July 2026</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Place of stillbirth</dt>
    <dd class="govuk-summary-list__value">Leicester General Hospital Maternity Unit, Gwendolen Road, Leicester</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Name</dt>
    <dd class="govuk-summary-list__value">Arman MKHITARYAN</dd>
  </div>

   <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Sex</dt>
    <dd class="govuk-summary-list__value">Male</dd>
  </div>

</dl>
<h2 class="govuk-heading-m">Medical cause of death details</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-8">


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">a. Main disease or conditions in the child</dt>
    <dd class="govuk-summary-list__value">Placental insufficiency </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">b. other disease or condition affecting the child</dt>
    <dd class="govuk-summary-list__value"></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">c. Maternal disease or conditions affecting the child</dt>
    <dd class="govuk-summary-list__value">Pre-eclampsia</dd>
  </div>
  
   <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">d. other maternal disease or condition affecting the child</dt>
    <dd class="govuk-summary-list__value"></dd>
  </div>

   <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">e. other relevant causes</dt>
    <dd class="govuk-summary-list__value"></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Certified by</dt>
    <dd class="govuk-summary-list__value">Dr Sarah L. Ahmed, General Practitioner</dd>
  </div>

</dl>


<h2 class="govuk-heading-m">Mother's details</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-8">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Name</dt>
    <dd class="govuk-summary-list__value">Mariam MKHITARYAN</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Place of birth</dt>
    <dd class="govuk-summary-list__value">Gyumri, Shirak Province, Armenia</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Occupation</dt>
    <dd class="govuk-summary-list__value">HR manager</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Maiden name</dt>
    <dd class="govuk-summary-list__value">PETROSYAN</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Last name (if different at marriage / civil partnership)</dt>
    <dd class="govuk-summary-list__value"></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Address (if different from child’s place of birth)</dt>
    <dd class="govuk-summary-list__value">31 Manor Court, Leicester</dd>
  </div>

</dl>

<h2 class="govuk-heading-m">Father's details</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-8">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Name</dt>
    <dd class="govuk-summary-list__value">Gevorg MKHITARYAN</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Place of birth</dt>
    <dd class="govuk-summary-list__value">London, England</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Occupation</dt>
    <dd class="govuk-summary-list__value">Builder</dd>
  </div>

</dl>

<h2 class="govuk-heading-m">Informant's details</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-8">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Qualification</dt>
    <dd class="govuk-summary-list__value">Mother</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Mother’s address (if different from when the child was born)</dt>
    <dd class="govuk-summary-list__value">115 Charles Street, Leicester</dd>
  </div>

</dl>

<h2 class="govuk-heading-m">Registrar's details</h2>

<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Name</dt>
    <dd class="govuk-summary-list__value">Example name</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Designation</dt>
    <dd class="govuk-summary-list__value">Deputy Registrar</dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Registration date</dt>
    <dd class="govuk-summary-list__value">5 July 2026</dd>
  </div>

</dl>
<br>
<dl class="govuk-summary-list govuk-!-margin-bottom-8">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Annotation</dt>
    <dd class="govuk-summary-list__value">None</dd>
  </div>
</dl>


  </div>

  </div>
</div>

<br>
<br>



  



    </div>


    </div>
  </div>

{% endblock %}
