{% extends "layouts/main.html" %}

{% block pageTitle %}
Personal details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back to record",
href: "javascript:window.history.back()"
}) }}


{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Parents' details</span>
    <h1 class="govuk-heading-l">
      Father's details
    </h1>

    <form class="form" action="fathers-details-check" method="post">

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" id="fathersPlaceOfBirth-label" for="fathersPlaceOfBirth">
          Place of birth
        </label>
        <input class="govuk-input govuk-!-width-one-half" id="fathersPlaceOfBirth" name="fathersPlaceOfBirth"
          type="text" aria-describedby="fathersPlaceOfBirth-hint" aria-required="false" value="Puebla, Mexico">
      </div>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" id="fathersCountryOfBirth-fieldset" aria-required="false">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Country of birth
          </legend>
          <div class="govuk-radios govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="fathersCountryOfBirth-England" name="fathersCountryOfBirth"
                type="radio" value="england" {{ checked("fathersCountryOfBirth", "england" ) }}>
              <label class="govuk-label govuk-radios__label" id="fathersCountryOfBirth-England-label"
                for="fathersCountryOfBirth-England">
                England
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="fathersCountryOfBirth-NorthernIreland" name="fathersCountryOfBirth"
                type="radio" value="northern-ireland" {{ checked("fathersCountryOfBirth", "northern-ireland" ) }}>
              <label class="govuk-label govuk-radios__label" id="fathersCountryOfBirth-NorthernIreland-label"
                for="fathersCountryOfBirth-NorthernIreland">
                Northern Ireland
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="fathersCountryOfBirth-Scotland" name="fathersCountryOfBirth"
                type="radio" value="scotland" {{ checked("fathersCountryOfBirth", "scotland" ) }}>
              <label class="govuk-label govuk-radios__label" id="fathersCountryOfBirth-Scotland-label"
                for="fathersCountryOfBirth-Scotland">
                Scotland
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="fathersCountryOfBirth-Wales" name="fathersCountryOfBirth"
                type="radio" value="wales" {{ checked("fathersCountryOfBirth", "wales" ) }}>
              <label class="govuk-label govuk-radios__label" id="fathersCountryOfBirth-Wales-label"
                for="fathersCountryOfBirth-Wales">
                Wales
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="fathersCountryOfBirth-OutsidetheUK" name="fathersCountryOfBirth"
                type="radio" value="outside-the-UK" checked {{ checked("fathersCountryOfBirth", "outside-the-UK" ) }}>
              <label class="govuk-label govuk-radios__label" id="fathersCountryOfBirth-OutsidetheUK-label"
                for="fathersCountryOfBirth-OutsidetheUK">
                Outside the UK
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="fathersCountryOfBirth-Notknown" name="fathersCountryOfBirth"
                type="radio" value="not-known" {{ checked("fathersCountryOfBirth", "not-known" ) }}>
              <label class="govuk-label govuk-radios__label" id="fathersCountryOfBirth-Notknown-label"
                for="fathersCountryOfBirth-Notknown">
                Not known
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" id="SpanishNational-fieldset" aria-required="false">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Spanish national
          </legend>
          <div class="govuk-radios govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="SpanishNational-true" name="SpanishNational" type="radio"
                value="true" {{ checked("SpanishNational", "true" ) }}>
              <label class="govuk-label govuk-radios__label" id="SpanishNational-true-label" for="SpanishNational-true">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="SpanishNational-false" name="SpanishNational" type="radio"
                value="false" checked {{ checked("SpanishNational", "false" ) }}>
              <label class="govuk-label govuk-radios__label" id="SpanishNational-false-label"
                for="SpanishNational-false">
                No
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="SpanishNational-unknown" name="SpanishNational" type="radio"
                value="unknown" {{ checked("SpanishNational", "unknown" ) }}>
              <label class="govuk-label govuk-radios__label" id="SpanishNational-unknown-label"
                for="SpanishNational-unknown">
                Unknown
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <br>

      <div class="govuk-form-group" id="occupation">
        <label class="govuk-label govuk-fieldset__legend--s" for="fathersOccupation">
          Occupation
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="fathersOccupation" name="fathersOccupation" type="text"
          aria-describedby="fathersOccupation-hint" aria-required="false" value="Architect">
      </div>
      <br>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h1 class="govuk-fieldset__heading">
              Address
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                29 Willow Crescent, Eastleigh, SO50 6DR
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" checked value="england">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                18 Hawthorn Way, Eastleigh, SO59 6QN
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio"
                value="scotland">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                Other
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-button-group">
        {{ govukButton({
        text: "Save and return",
        href: "../tasks/child2index.html"
        })
        }}
      </div>

    </form>

  </div>
</div>



{% endblock %}