{% extends "layouts/main.html" %}


{% block pageScripts %}
  <script src="/public/javascripts/application.js"></script>
{% endblock %}

{% block pageTitle %}
   Child's place of birth – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

{% if data['declaration-change'] == 'true' %}
  <form class="form" action="../declaration/declaration" method="post">
{% else %}
<form class="form" action="check-details" method="post">
{% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Child 1 details</span>
      <h1 class="govuk-heading-xl">
       Place of birth
      </h1>

      <div class="govuk-form-group">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="communal" name="livingPlace" type="radio" value="communal">
            <label class="govuk-label govuk-radios__label" for="communal">Communal establishment</label>
          </div>
      
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="home" name="livingPlace" type="radio" value="home">
            <label class="govuk-label govuk-radios__label" for="home">Home</label>
          </div>
      
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="transit" name="livingPlace" type="radio" value="transit">
            <label class="govuk-label govuk-radios__label" for="transit">In transit</label>
          </div>
      
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="elsewhere" name="livingPlace" type="radio" value="elsewhere">
            <label class="govuk-label govuk-radios__label" for="elsewhere">Elsewhere</label>
          </div>
        </div>
      </div>
      
      <!-- Conditional reveal for 'Communal establishment' -->
      <div id="address-field" class="govuk-form-group" hidden>
       <br>
        <h3 class="govuk-label govuk-label--s">What is the birthplace address?</h3>
        <br>
      
        <div class="govuk-form-group">
          <label class="govuk-label" for="communal-name">Search by communal establishment name</label>
          <input class="govuk-input govuk-!-width-two-thirds" id="communal-name" name="communal-name" type="text">
        </div>
      <br>
        <p class="govuk-body">
          <a href="#" class="govuk-link">Search by postcode</a>
        </p>
      
        <p class="govuk-body">
          <a href="#" class="govuk-link">Enter address manually</a>
        </p>
      </div>
      
      <script>
        document.addEventListener('DOMContentLoaded', function () {
          const radios = document.querySelectorAll('input[name="livingPlace"]');
          const addressField = document.getElementById('address-field');
      
          radios.forEach(radio => {
            radio.addEventListener('change', function () {
              addressField.hidden = this.value !== 'communal';
            });
          });
        });
      </script>
      
      <br>
     

      {{ govukButton({
        text: "Save and return",
        href: "javascript:window.history.back()"
      }) }}

      
    </div>


  </div>

</form>  

{% endblock %}
