{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Registration complete",
        html: "System number 500248148"
      }) }}

      <br>

      <!-- <h2 class="govuk-heading-m">
        What to do next
      </h2> 
-->
      <p class="govuk-body">
        You can now print the birth certificate.
      </p>

      


      <p  class="govuk-body govuk-!-margin-bottom-9">
        <a href="/public/documents/Oliver-birth-certificate.pdf" target="_blank" class="govuk-link">
          View and print standard certificate (opens in a new tab)
        </a>
        <br>
        <br>
        <a href="#">
          View and print short certificate (opens in a new tab)
        </a>
      </p> 

      <h2 class="govuk-heading-m">
        Do you want to register child 2?
      </h2>
      <p  class="govuk-body">
        <a href="/births/multipleBirths2/02-child2-correct.html">
          Continue to register child 2
        </a>
      </p>

      <br>
      <br>

      <p  class="govuk-body">
        <a href="../../../01-life-event-home.html">
          Return to homepage
        </a>
      </p>


    </div>
  </div>

{% endblock %}
