 {% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<div class="govuk-!-margin-bottom-9">
    <h1 class="govuk-heading-xl">
      Prototypes for births
    </h1>
 
     <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <p>
      <h3 class="govuk-heading-s" style="display: inline;">Round 1</h3>
      <strong class="govuk-tag govuk-tag--yellow">In progress</strong>
    </p>
     
     <p class="govuk-body">
      <a href="/births/multipleBirths/00-sign-in.html">Task 1</a> – Registering twins with same informant
    </p>

     <p class="govuk-body-s govuk-!-margin-top-6">Got a question? Team 4: Niamh, Kaisa or Helen</p>
   </div>
     <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>

{% endblock %}
