 {% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<div class="govuk-!-margin-bottom-9">
    <h1 class="govuk-heading-xl">
      Prototypes for births
    </h1>
 <p class="govuk-body-s govuk-!-margin-top-6">Got a question? Team 4: Niamh, Kaisa or Wiktoria</p>
     <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

     <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Birth prototype</h2>
     
     <p class="govuk-body">
       <a href="00-sign-in.html">Sign in page</a>
     </p>
   </div>
     <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>

{% endblock %}
