 {% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<div class="govuk-!-margin-bottom-9">
    <h1 class="govuk-heading-xl">
      Prototypes for births
    </h1>
 
     <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <p>
      <h3 class="govuk-heading-s" style="display: inline;">Multiple births</h3>
      <strong class="govuk-tag govuk-tag--yellow">In progress</strong>
    </p>
     
     <p class="govuk-body">
      <a href="/births/multipleBirths/00-sign-in.html">Round 1</a> – Week beginning 13th October
    </p>
    
    <p class="govuk-body">
      <a href="/births/multipleBirths2/00-sign-in.html">Round 2</a> – Week beginning 3rd November
    </p>

    <p class="govuk-body">
      <a href="/births/multipleBirths3/00-sign-in.html">Round 3</a> – Week beginning 1st December
    </p>

     <p class="govuk-body-s govuk-!-margin-top-6">Got a question? Team 4: Niamh, Kaisa, Helen or Wiktoria</p>
   </div>
     <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
       <div class="govuk-!-margin-top-2 govuk-!-margin-bottom-6">
       <form action="/clear-session" method="get">
         <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">
           Clear data
         </button>
       </form>
     </div>
</div>

{% endblock %}
